.container {
  padding: 20px;
  background: linear-gradient(135deg, #2a2a72, #009ffd);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.spacer {
  height: 60px; /* Adjust as needed */
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 200px;
  filter: drop-shadow(0 0 10px #009ffd);
}

.title {
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 0 10px #009ffd;
}

.subTitle {
  font-size: 16px;
  text-align: center;
  color: #ddd;
  text-shadow: 0 0 5px #009ffd;
  margin-bottom: 20px;
}

.form-container {
  margin: 20px 0;
}

.input-item {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.futuristic-input .input-icon {
  color: #009ffd;
}

::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

/* Estilos específicos para o Shadow DOM */
ion-input {
  --background: transparent !important;
  --color: #fff !important;
  --placeholder-color: rgba(255, 255, 255, 0.6) !important;
}

.futuristic-button {
  margin-top: 10px;
  background: #009ffd;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 20px #009ffd;
  transition: background 0.3s;
  color: #fff; /* Garante que o texto no botão fique branco */
}

.futuristic-button:hover {
  background: #007bbd;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

.futuristic-divider {
  border-color: #d2ff0b;
  margin-bottom: 20px;
}

.futuristic-back-button {
  color: #c2fc03;
  text-shadow: 0 0 10px #ccff00;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: color 0.3s;
}

.futuristic-back-button:hover {
  color: #bbff00;
}
